html {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fdfdff;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 50%;
    margin: 0 auto;
}

.profile-flex {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.red {
    color: red;
}