html {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fdfdff;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
    opacity: 0.2;
}

nav .menu-btn i {
    font-size: 22px;
    cursor: pointer;
    display: none;
    position: absolute;
    visibility: hidden;
}

#click {
    display: none;
}

.bar {
    display: none;
    margin-left: 10px;
    font-size: 30px;
    left: 20px;
    position: absolute;
    visibility: hidden;
}

.nickname {
    color: crimson;
    font-weight: bold;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    width: 100%;
}

.user {
    background-color: crimson;
    border-radius: 50px;
    width: 90%;
    margin-top: 10%;
}

.user:nth-child(2) {
    background-color: #5268f2;
}

.user:nth-child(3) {
    background-color: #6964e2;
}

.user:nth-child(4) {
    background-color: #102b3e;
}

.user:nth-child(5) {
    background-color: #3ac6ea;
}

.flex-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media all and (min-width: 800px) {
    .user {
        width: 60%;
    }
}

@media all and (min-width: 1080px) {
    .flex-user {
        flex-direction: row;
    }

    .flex-user:nth-child(2) {
        flex-direction: row;
    }

    .user {
        width: 30%;
        margin-left: 20px;
    }
}

@media (max-width: 940px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 100%;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: left;
        transition: all 0.3s ease;
        background: #fff;
        margin: 20px;
    }

    .bar {
        display: block;
        visibility: visible;
        position: static;
    }

    .nickname {
        font-size: 25px;
    }

    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }

    #click:checked ~ ul {
        left: 0%;
    }

    nav .menu-btn i {
        display: block;
    }

    nav ul li {
        margin: 40px 0;

    }

    nav ul li a {
        font-size: 20px;
        display: block;
        text-transform: uppercase;
    }
}