html {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fdfdff;
}


nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 5px;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li a {
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
    opacity: 0.2;
}


nav .menu-btn i {
    font-size: 22px;
    cursor: pointer;
    display: none;
    position: absolute;
    visibility: hidden;
}

#click {
    display: none;
}

.bar {
    display: none;
    margin-left: 10px;
    font-size: 30px;
    left: 20px;
    display: none;
    position: absolute;
    visibility:hidden;
}


.flex-career {
    width: 80%;
}

.heading {
    background-color: #5268f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 10%;
}
  
.btn-start {
    padding: 10px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.btn-start:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.h1-tizone{
    font-size: 44px;
}

.p-heading {
    text-align: center;
}

.careers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .h2-career {
    text-transform: uppercase;
}  */

.career {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.career-icon {
    font-size: 34px;
}

.h2-test {
    text-align: center;
}

.test {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.img {
    width: 50%;
    height: 200px;
    background-color: black;
    
}

.flex-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.arrow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-ranking {
    background-color: red;
    width: 10%;
    height: 100px;
}

.about-me {
    background-color: #5268f2;
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-about {
    width: 30%;
    height: 40%;
    border-radius: 50px;
}

.h3-about {
    text-transform: uppercase;
}

@media all and (min-width: 1200px) {
    
}

@media all and (min-width: 1200px) {
    .flex-test {
        flex-direction: row;
        margin-top: 50px;
    }

    .arrows {
        width: 50%;
    }
}

@media all and (min-width: 900px) {
    .flex-career {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (min-width: 800px){
    .h1-tizone {
        font-size: 60px;
    }

    .p-heading {
        font-size: 30px;
    }
}

@media (max-width: 940px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 100%;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: left;
        transition: all 0.3s ease;
        background: #fff;
    }

    .bar {
        display: block;
        visibility:visible;
        position: static;
    }

    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }
    #click:checked ~ ul {
        left: 0%;
    }

    nav .menu-btn i {
        display: block;
    }

    nav ul li {
        margin: 40px 0;
        
    }

    nav ul li a {
        font-size: 20px;
        display: block;
        text-transform: uppercase;
    }
}